[Desktop Entry]
Version=1.0
Type=Application
Name=Erinnerung
Comment=an Aufgaben erinnern
Icon=clock
Exec=sh -c "python3 ~/.local/share/Erinnerung/erinnerung.py"
Categories=Utility
Path=
StartupNotify=false
Terminal=false
Keywords=reminder;
MimeType=
